*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MyFont", sans-serif;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "MyFont";
    src: url(Fun\ Letters.ttf) format("truetype");
}

body{
    background-image: url(Background-Image.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title-box{
    background: #A9DF91;
    color: #E09465;
    text-shadow: 2px 2px #E8F2F1;
    font-size: 50px;
    padding: 50px;
    border-radius: 35px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
}

.logo-image1{
    visibility: visible;
    position: fixed;
    top: 30px;
    left: 25%;
    transform: translate(-50%);
    width: 150px;
    height: 150px;
}

.logo-image2{
    visibility: visible;
    position: fixed;
    top: 30px;
    left: 75%;
    transform: translate(-50%);
    width: 150px;
    height: 150px;
}

.popup{
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #A9DF91;
    color: #E09465;
    text-shadow: 2px 2px #E8F2F1;
    font-size: 50px;
    padding: 35px;
    width: 750px;
    height: 400px;
    text-align: center;
}

button{
    background: #A9DF91;
    color: #E09465;
    text-shadow: 2px 2px #E8F2F1;
    border-width: 2px;
    font-size: 50px;
    border-radius: 35px;
    width: 500px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 80%;
    border-color: #E8F2F1;
}

button:hover{
    background-color: #A9DF91;
    box-shadow: 0 0 5px #db702f, 0 0 25px #db702f, 0 0 50px #db702f, 0 0 100px #db702f, 0 0 200px #db702f;
    transition: ease-in .5s;
}

@media (min-width: 1440px){
    .title-box{
        font-size: 100px;
        text-shadow: 4px 4px #E8F2F1;
    }

    .logo-image1{
        width: 225px;
        height: 225px;
        left: 27.5%;
    }

    .logo-image2{
        width: 225px;
        height: 225px;
        left: 72.5%;
    }

    .popup{
        width: 1500px;
        font-size: 100px;
        height: 800px;
    }

    button{
        font-size: 100px;
        width: 1000px;
    }
}

@media (min-width: 769px) and (max-width: 1200px){
    .logo-image1{
        left: 15%;
    }

    .logo-image2{
        left: 85%;
    }
}

@media (max-width: 768px){
    .title-box{
        font-size: 25px;
    }

    .logo-image1{
        width: 75px;
        height: 75px;
        left: 25%;
    }

    .logo-image2{
        width: 75px;
        height: 75px;
        left: 75%;
    }

    .popup{
        width: 375px;
        height: 200px;
        font-size: 25px;
    }

    button{
        font-size: 25px;
        width: 250px;
    }
}
